@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
button,
input {
  font-family: "Poppins", sans-serif !important;
}

.errorMsg {
  /* margin-top: 4px; */
  font-size: 14px;
  color: #cf000f;
}

@media screen and (max-width: 740px) {
  .hide-search {
    display: none !important;
  }
}
